// ======= breakpoint =======
_ = 400px
__ = 768px
___ = 992px
____ = 1200px


// ======= global =======
$global-text-color         = #515151
$global-sub-text-color     = #AAAAAA
$global-background         = #F3F3F3
$global-border-color       = #CFCFCF
$global-font-size          = 14px
$global-lineheight         = 26px


// ======= link =======
$link-color          = #000
$link-hover-color    = #333
$link-active-color   = #333
$link-visited-color  = #000
