<script src="/vendor/jquery-1.11.3.min.js"></script>
<script src="/vendor/jquery.dotdotdot.min.js"></script>
<script src="/vendor/nprogress/nprogress.js"></script>
<script src="/vendor/jquery.waypoints.min.js"></script>
<script src="/vendor/inview.min.js"></script>
<script src="/vendor/bootstrap.min.js"></script>
<script src="/js/init.js?{{ site.time | date: "%s" }}"></script>

{% if page.additional_script %}
  {% for js in page.additional_script %}
    <script src="{{ js }}"></script>
  {% endfor %}
{% endif %}
