<header id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site.site_title }}</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">匿名發文</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">排行榜 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/ranking/top100">TOP100</a></li>
              <li><a href="/ranking/day">日排行</a></li>
              <li><a href="/ranking/week">週排行</a></li>
              <li><a href="/ranking/month">月排行</a></li>
            </ul>
          </li>
          <li><a href="https://facebook.com/kobeengineer" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/kobeengineer" target="_blank">Twitter</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
