<div class="col-md-6">
  <div class="form-group">
    <div class="radio">
      <label>
        <input type="radio" name="mode" value="1" checked="checked">
        純文字或連結 (字數限制: 1024)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="mode" value="3">
        文字圖 (字數限制: 300)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="mode" value="6">
        IT狗模式 (字數限制: 54)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="mode" value="7">
        GIF (1行代表1影格)
      </label>
    </div>
  </div>
</div>
